
<table class="table table-bordered" *ngIf="getEmpArr.length > 0 ; else noemp">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Sallery</th>
            <th>Is Active</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let emp of getEmpArr; let i = index; trackBy : trackByFun">
            <td>{{i+1}}</td>
            <td>{{emp.fname}}</td>
            <td>{{emp.lname}}</td>
            <td>{{emp.department}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.isActive}}</td>
            <td>
                <button
                (click)="onEdit(emp)"
                mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>
                <button 
                (click)="onRemove(emp.empId)"
                mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #noemp>
    <p class="alert alert-info">
        No Employees !!!
    </p>
</ng-template>
